.container {
    max-width: 200px;
    margin: auto;
  }
  
  .svg-circle:hover + .svg-text-group {
    opacity: 0;
  }

  p {
    text-align: center;
  }

  header {
    text-align: center;
    font-weight: bold;
    font-size: xx-large;
  }